.App {
  margin-top: 0;
  background-color: #2B7A78;
  text-align: center;
}
 .user{
   text-align: center;
   width: 400px;
   background-color: #3AAFA9;
   padding: 0 10px 0 10px;
   margin-left: auto;
   margin-right: auto;
   border-radius: 20px;
   display: inline-block;
   margin: 15px;
   box-shadow:  3px 3px 3px #22605f,
             -3px -3px 3px #349491;
 }

 .user:hover{
    box-shadow:  7px 7px 5px #22605f,
            -7px -7px 5px #349491;
}

 h1, p, h3{
   color:#DEF2F1 ;
   text-align: center;
 }

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
